/* colours */
:root {
    --primary: #c3ff92;
    --secondary: #98deab;
    --accent: #36c06b;
    --accent2: #68c362;
}

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(80, 80, 80);
    background-image: linear-gradient();
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid grey;
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;
}

header h1 {
    font-size: 40px;
    text-align: center;
}

.wheel-sect {
    display: flex;
    align-items: center;
    justify-content: center;

}

.wheel-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 200px;
    position: absolute;
    top: 10%;
}

.result-container {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    border: 15px solid rgb(236, 236, 236);
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.result-container div {
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    left: 135px;
}

.result-container .one {
    background-color: var(--primary);
    left: 50%;
}

.result-container .two {
    background-color: var(--secondary);
    transform: rotate(45deg);
}

.result-container .three {
    background-color: var(--accent);
    transform: rotate(90deg);
}

.result-container .four {
    background-color: var(--accent2);
    transform: rotate(135deg);
}

.result-container .five {
    background-color: var(--primary);
    transform: rotate(180deg);
}

.result-container .six {
    background-color: var(--secondary);
    transform: rotate(225deg);
}

.result-container .seven {
    background-color: var(--accent);
    transform: rotate(270deg);
}

.result-container .eight {
    background-color: var(--accent2);
    transform: rotate(315deg);
}

.arrow {
    position: absolute;
    top: 32.5%;
    left: 95%;
    transform: translateX(-50%);
    color: white;
    z-index: 20;
}

#spin {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgb(120, 199, 0);
    text-transform: uppercase;
    border: 4px solid white;
    font-weight: bold;
    font-size: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
}


/* sidebar */

.sidebar-toggle {
    background-color: white;
    border: none;
    position: relative;
    right: 392px;
    animation: bounce 2s ease-in-out infinite;
    height: 100%;
}

.sidebarTran {
    transform: rotate(90deg);
}

#sidebar-i {
    transition: all 0.3s linear;

}

.sidebar-toggle i:hover {
    color: #6d6d6d;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.sidebar {
    background: rgb(236, 236, 236);
    width: 150px;
    height: 100vh;
    border-radius: 3px;
    transform: translate(0);
    transition: all 0.3s linear;
    top: 76px;
    position: fixed;
}


.links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    

}

.links li {
    margin: 0;
    align-self: flex-start;
    border-bottom: 1px solid rgb(198, 198, 198);
    width: 100%;
}

.links li:hover {
    background-color: #dbdbdb;
}

.links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    
    
}

.links i {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    

}

.links button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.themes {
    display: flex;
    justify-content: center;
}











/* hidden for toggling hidden elements */
.hidden {
    transform: translate(-115%);
}